body {
  background-color: #ffffff;
  color: #202124;
  box-sizing: border-box;
}

#mainContainer {
  margin: 6rem 0rem;
}

#subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 0rem 1rem;
}

h1 {
  margin-bottom: 10px;
}

input {
  border: 1px solid #dadce0;
  border-radius: 10px;
  font-weight: 700;
  padding: 20px;
  transition: border 0.25s;
  width: 43rem;
  margin-bottom: 0.5rem;
}

input:focus {
  border: 1px solid #141414;
  border-radius: 10px;
  outline: none;
}

.calculations {
  display: block;
  text-align: center;
  word-wrap: break-word;
  color: #8a8a8a;
}

.dataCell {
  background: #f1f3f4;
  border: 1px solid #f1f3f4;
  border-radius: 4px;
  text-align: center;
  padding: 8px 35px;
  margin: 5px 3px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.25s;
}

.dataCell:hover {
  background: #ebedee;
}

.dataCell:active {
  border: 1px solid #141414;
}

.endCell {
  background: #d0d2d6;
  border: 1px solid #d0d2d6;
  font-weight: 400;
  transition: all 0.25s;
}

.endCell:hover {
  background: #c4c6cc;
}

.endCell:active {
  border: 1px solid #141414;
}

.equalCell {
  background: #4285f4;
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  padding: 4px;
  border: 1px solid #4285f4;
  transition: all 0.25s;
}

.equalCell:hover {
  background: #458cff;
}

.equalCell:active {
  border: 1px solid #458cff;
}

.disabledDiv {
  opacity: 0.3;
  pointer-events: none;
  cursor: not-allowed;
}

.togglePadding {
  padding: 8px 29px !important;
}

.mobileModeDivs {
  display: none;
  text-align: center;
  background: #e1e3e4;
  border: 1px solid #f1f3f4;
  border-radius: 20px;
  width: 120px;
  margin: 0.4rem 0rem;
  padding: 0.8rem 0rem;
  transition: all ease-in 100ms;
}

.mobileModeDivs:hover {
  background: rgb(228, 230, 231);
}

button {
  background: #e1e3e4;
  border: none;
  padding: 0rem 1rem;
  cursor: pointer;
}

@media screen and (min-width: 801px) {
  /* .scientificNums {
    display: block !important;
  }
  .normalNums {
    display: block !important;
  } */
  input {
    width: 43rem !important;
  }
}

@media screen and (max-width: 800px) {
  .mobileModeDivs {
    display: block !important;
  }
  .scientificNums {
    display: none;
  }
  input {
    width: 23rem;
  }
}

@media screen and (max-width: 500px) {
  .dataCell {
    padding: 0.5rem 1.75rem;
  }
  .equalCell {
    padding: 0.25rem 1.75rem;
  }
  input {
    width: 19.75rem;
  }
}
